# =============================================================================
# NovaOS — GRUB2 Konfiguration
# =============================================================================

set timeout=3
set default=0

menuentry "NovaOS v1.0" {
    multiboot2 /boot/novaos.bin
    boot
}
